[submodule "submodules/rsel"]
	path = submodules/rsel
	url = git@github.com:a-e/rsel.git
[submodule "submodules/mastiffe"]
	path = submodules/mastiffe
	url = git@github.com:Ken-g6/Mastiffe.git
[submodule "submodules/cukable"]
	path = submodules/cukable
	url = git@github.com:wapcaplet/cukable.git
